<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid" >
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-danger" role="alert" style="font-size: 30px;text-align: center;">
                   <b>SIMPLE CRUD OPERATION</b> 
                
                </div>
            </div>
        </div>
    </div>
    
    <div class="container"  >
        <div class="row">
            <div class="col-md-12" >
                <form method="POST"     class="p-3 shadow">
                {% csrf_token %}
                <div class="form-group">
                    <h6>SL.NO:</h6>
                    <input type="number" name="sl_no" class="form-control" >
    
                </div><br>
                    <div class="form-group">
                        <h6>Item Name</h6>
                        <input type="text" name="items_name" class="form-control">
                    </div><br>
                    <div class="form-group">
                        <h6>Description</h6>
                        <input type="text" name="description" class="form-control" >
                    </div><br>
                    <button type="submit" class="btn btn-success">create</button>
    
                </form>
                           

        
    
                <div class="container mt-4">
                  <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Item name</th>
                            <th scope="col">Description</th>
                            <th scope="col">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for i in task %}   
                          <tr>
                            <th scope="row">{{i.sl_no}}</th>
                            <td>{{i.items_name}}td>
                            <td>{{i.description}}</td>
                            <td>
                              <a class="btn btn-danger" href=""
                                >Delete</a
                              >
                            </td>
                            <td>
                              <a
                                class="btn btn-success"
                                href=""
                                role="button"
                                >Update</a
                              >
                            </td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                {% endblock %}
                      
    
</body>
</html>